@using QL_ThietBiTinHoc.Models;
@model List<LOAI>

@foreach (var tenloai in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a href="@Url.Action("HienThiThietBiTheoLoai", "Home", new {ma = @tenloai.MALOAI })">@tenloai.TENLOAI</a></h4>
        </div>
    </div>
}