@{
    ViewBag.Title = "Giới Thiệu";
}

<div class="row">
    <div class="col-sm-3">
        <img src="~/Content/images/sale.jpg"/>
        @*<div class="left-sidebar">
            <h2 style="color: #33CCFF">LOẠI QUẦN ÁO</h2>
            <div class="panel-group category-products">
                @Html.Action("DanhMucLoai", "Home")
            </div>
            <div class="left-sidebar">
                
            </div>
        </div>*@
    </div>

    <div style="border-left:solid;" class="col-sm-9">
        <div class="blog-post-area">
            <h2 class="title text-center" style="color: #33CCFF">Giới Thiệu</h2>
            <div class="single-blog-post">
                <h3>Công Ty TNHH DVD & DTC</h3>
                <img src="~/Content/images/logo.jpg" alt="">
                <h5>Nhà thiết kế thời trang và nhiều chuỗi cửa hàng quần áo cao cấp cho các 193 quốc gia khác nhau.
                </h5>
                <br>
                <h5>Các sản phẩm chúng tôi đang phân phối trên thị trường hiện nay luôn đáp ứng các tiêu chí sau:
                </h5>
                <h5>
                    -Giá cả luôn tốt nhất thị trường.<br />
                    <br />
                    -Sản phẩm luôn đảm bảo chất lượng chính hãng.<br />
                    <br />
                    <strong style="color:red">-SẢN PHẨM GIẢ ĐỀN 200% TIỀN MẶT</strong><br />
                    <br />
                    -Thông tin sản phẩm rõ ràng, minh bạch, tư vấn cụ thể từng loại hàng;<br />
                    <br />
                </h5>      
                <h5>Quá trình hình thành:Công ty DVD & DTC thành lập vào tháng 03/1999 bởi 2 thành viên đồng sáng lập là Dương Văn Đại,
                     Dương Thanh Công, lĩnh vực hoạt động chính của công ty bao gồm: thiết kế và mua bán liên quan đến quần áo,
                     và các lĩnh vực liên quan đến thời trang
                    .Bằng trải nghiệm về thị trường quần áo thời trang từ đầu những năm 1990, cùng với việc nghiên cứu kỹ tập quán mua hàng của khách hàng Việt Nam, 
                    shopquanao.com đã xây dựng một phương thức kinh doanh chưa từng có ở Việt Nam trước đây. Công ty đã xây dựng được một phong cách tư vấn bán hàng đặc biệt nhờ vào một đội ngũ nhân viên chuyên nghiệp và trang web www.shopquanao.com
                     hỗ trợ như là một cẩm nang về quần áo và một kênh thời trang hàng đầu tại Việt Nam.Hiện nay, số lượng quần áo bán ra trung bình tại shopquanao.com khoảng hơn 300.000 ngàn USD/tháng chiếm khoảng 25% thị trường quần áo chính hãng cả nước.
                     Trung bình một tháng 1000 USD trở thành Nhà buôn bán lớn nhất cả nước.Việc bán hàng qua mạng và giao hàng tận nhà trên phạm vi toàn quốc đã được triển khai từ đầu năm 2010, hiện nay lượng khách hàng mua quần áo thông qua website www.shopquanao.com và tổng đài 1900.561.292 đã tăng lên đáng kể,
                     trung bình 10.000 - 20.000 đơn hàng mỗi tháng. Đây là một kênh bán hàng tiềm năng và là một công cụ hữu hiệu giúp các khách hàng ở những khu vực xa mua được một sản phẩm ưng ý khi không có điều kiện xem trực tiếp 
                    sản phẩm www.shopquanao.com là website thời trang lớn nhất Việt Nam với số lượng truy cập hơn 20.000 lượt ngày, cung cấp thông tin chi tiết về giá cả của tất cả các nhãn hiệu chính thức tại
                     Việt Nam Shopquanao.com đã nhận được nhiều giải thưởng do người tiêu dùng cũng như các đối tác bình chọn trong nhiều năm liền. 
                    Một số giải thưởng tiêu biểu:
                </h5>
                <h5>Top 1 nhà bán lẻ hàng đầu Châu Á - Thái Bình Dương 2012
                    Top 1 nhà bán phát triển nhanh nhất Châu Á - Thái Bình Dương 2012
                    Top 1 Fast VietNam 2013
                    Công Ty TNHH DVD & DTC được tín nhiệm nhất 4 năm liên tiếp 2008, 2009, 2010, 2011 (Vietnam Awards)
                    Công Ty TNHH DVD & DTC có đa dạng mặt hàng nhất
                    Công Ty TNHH DVD & DTC chăm sóc và hỗ trợ khách hàng tốt nhất
                    Giải thưởng thương hiệu nổi tiếng tại Việt Nam năm 2011 theo nhận biết của người tiêu dùng do Phòng thương mại và công nghiệp Việt Nam cấp
                    Giải thưởng cho Công Ty TNHH DVD & DTC của năm do báo PCWord Việt Nam tổ chức
                    Các bằng khen, chứng nhận của các cơ quan chính quyền trao tặng
                </h5>
            </div>
        </div>
    </div>
</div>
