@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-7">
        <div class="left-sidebar">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.057699322254!2d106.626413914493!3d10.80689289230084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be287a42a77%3A0xe2a986cb8920141c!2zMTQwIEzDqiBUcuG7jW5nIFThuqVuLCBQaMaw4budbmcgMTUsIFTDom4gUGjDuiwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1573490573638!5m2!1svi!2s" style="width: 630px; height: 600px;"></iframe>
        </div>
    </div>

    <div class="col-sm-5 padding-right">
        <div class="blog-post-area">
            <div class="single-blog-post">
                <div class="col-1" style="background-color: #EEEEEE">
                </div>
                <div class="col-9 mb-3">
                    <p style="color: blue; font-size: 30px; font-weight: bold">Liên hệ</p>
                    <br />
                    <br />
                    <br />
                    <br />

                    <h4>Địa chỉ chúng tôi</h4>
                    <h3>Tầng 4, tòa nhà HUFI, số 140 đường Lê Trọng Tấn,Phường Tây Thạnh,Quận Tân Phú,Tp.Hồ Chí Minh.</h3>
                    <br />
                    <br />
                    <h4>Email chúng tôi</h4>
                    <h3>ShopQuanAo@gmail.com</h3>
                    <br />
                    <br />
                    <h4>Điện Thoại</h4>
                    <h3>0930213425</h3>
                    <br />
                    <br />
                    <h4>Thời Gian Làm Việc</h4>
                    <h3>Thứ 2 đến Thứ 6 từ 8h đến 18h; Thứ 7 và Chủ nhật từ 8h00 đến 17h00</h3>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-2" style="background-color: #EEEEEE">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
