@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        <img src="~/Content/images/sale.jpg"/>
        @*<div class="left-sidebar">
            <h2 style="color:#33CCFF">LOẠI QUẦN ÁO</h2>
            <div class="panel-group category-products">
                @Html.Action("DanhMucLoai", "Home")
            </div>
            
        </div>*@
    </div>

    <div style="border-left:solid;" class="col-sm-9 padding-right">
        <div class="blog-post-area">
            <h2 class="title text-center" style="color:#33CCFF">Tin Tức</h2>
            <div class="single-blog-post">
                <h3>Công Ty TNHH DVD & DTC</h3> 
                <img src="~/Content/images/logo.jpg" alt="">
                <h5>Nhà thiết kế thời trang và nhiều chuỗi cửa hàng quần áo cao cấp cho các 193 quốc gia khác nhau.
                </h5>
                <br>
                <h5>Các sản phẩm chúng tôi đang phân phối trên thị trường hiện nay luôn đáp ứng các tiêu chí sau:
                </h5>
                <h5>
                    -Giá cả luôn tốt nhất thị trường.<br />
                    <br />
                    -Sản phẩm luôn đảm bảo chất lượng chính hãng.<br />
                    <br />
                    <strong style="color:red">-SẢN PHẨM GIẢ ĐỀN 200% TIỀN MẶT</strong><br />
                    <br />
                    -Thông tin sản phẩm rõ ràng, minh bạch, tư vấn cụ thể từng loại hàng;<br />
                    <br />
                </h5>      
            </div>
        </div>
    </div>
  </div>
