@{
    ViewBag.Title = "Xác nhân đơn hàng";
}
<img src="~/Content/images/shipper.png" />
<h3>Đơn hàng của quý khách đã được chúng tôi ghi nhận</h3><br />
<h3>Chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</h3><br />
<h3>Cảm ơn quý khách đã quan tâm sản phẩm . Chúc quý khách nhiều sức khoẻ</h3>
<a href="@Url.Action("Index", "Home")" class="btn btn-default add-to-cart">Về trang chủ</a>
@*<h3>@Html.ActionLink("Về Trang Chủ","Index","Home")</h3>*@
